<div class="edit-profile">
  <h5><i class="fa fa-map-marker"></i> Contact Addresses</h5>
  <div class="list-menu address">
    <form id="AddressBookForm">
    <div class="input-group col-md-12">
      <span id="basic-addon1">
        <i class="fa fa-user"></i> Name : </span>
      <input type="text" placeholder="name" class="form-control">
    </div>
    <div class="input-group col-md-12">
      <span id="basic-addon1">
        <i class="fa fa-envelope"></i> Email: </span>
      <input type="email" placeholder="email" class="form-control">
    </div>
    <div class="input-group col-md-12">
      <span id="basic-addon1">
        <i class="fa fa-phone-square"></i> Contact No. : </span>
      <input type="text" placeholder="Contact Number" class="form-control">
    </div>
    <div class="input-group col-md-12">
      <span id="basic-addon1">
        <i class="fa fa-map-marker"></i> Address : </span>
      <input type="text" placeholder="Address Line 1" class="form-control">
    </div>
    <div class="input-group col-md-12">
      <input type="text" placeholder="Address Line 2" class="form-control">
    </div>
    <div class="input-group col-md-12">
      <input type="text" placeholder="Address Line 3" class="form-control">
    </div>
    <hr>
    <input type="submit" class="btn btn-primary">
  </form>
  </div>
  <h5><i class="fa fa-map-marker"></i> Manage Addresses</h5>
  <div class="address-block">
    <div class="col-md-5 thumbnail">
      <div class="name">Pushpendra Rajput
        <div class="action">
          <a class="confirmation">
            <i class="fa fa-trash-o"></i> | </a>
          <a href="javascript:void(0)" onclick="editAddress()">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </div>
      </div>
      <div class="contact-details">
        <div class="email">
          <i class="fa fa-envelope"></i> rajput.pushpendra61@gmail.com</div>
        <div class="contact">
          <i class="fa fa-phone-square"></i> 8130606975</div>
      </div>
      <div class="address">
        <p>
          <i class="fa fa-map-marker"></i> Address here</p>
      </div>
    </div>
  </div>
</div>
