<div class="modal-dialog">
    <div class="modal-content" id="Login">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">&times;</button>
        <h4>
          <i class="fa fa-sign-in"></i> FORGOT PASSWORD
          <br>
          <small>FORTGOT YOUR PASSWORD? DON'T WORRY WE CAN DEAL WITH IT</small>
        </h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <section class="login-panel">
            <ng-container *ngIf="isError">
              <div class="alert alert-danger text-center" [innerHtml]="message" role="alert"></div>
            </ng-container>
            <ng-container *ngIf="isSuccess">
              <div class="alert alert-success text-center" [innerHtml]="message" role="alert"></div>
            </ng-container>
            <form #forgotForm="ngForm" (submit)="forgot()" id="forgotForm">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-envelope"></i>
                </span>
                <input name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Register email address" class="form-control" type="email" id="email" required email />
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-bad">
                  <div *ngIf="email.errors.required">
                      <i class="fa fa-warning"></i> Email is required.
                  </div>
                  <div *ngIf="email.errors.email">
                      <i class="fa fa-warning"></i> Invalid email address.
                  </div>
                </div>
              </div>
              <div class="submit">
                <input [disabled]="!forgotForm.form.valid" class="btn btn-primary btn-block" type="submit" value="Password Recovery" />
              </div>
            </form>
          </section>
        </div>
        <div class="col-md-12 not-a-member">
          <span> Already register with us?</span>
          <strong>
            <a id="signUp" (click)='openModal("login")'>Login</a>
          </strong>
        </div>

      </div>
      <div class="modal-footer clear">
        <button type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
