<section id="{{sectionId}}" class="intro">
<div class="container">
  <ul id="gn-menu" class="gn-menu-main {{sectionClass}}">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li>
              <a routerLink="restaurant" routerLinkActive="active" class="gn-icon gn-icon-download">Restaurants</a>
            </li>
            <li>
              <a href="#about" class="gn-icon gn-icon-download">About{{sectionClass}}</a>
            </li>
            <li><a href="#service" class="gn-icon gn-icon-cog">Service</a></li>
            <li><a href="#works" class="gn-icon gn-icon-help">Works</a></li>
            <li>
              <a href="#contact" class="gn-icon gn-icon-archive">Contact</a>
            </li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><a routerLink="/" ><img src="assets/img/logo2.png" /></a></li>
    <li><ul class="company-social">
          <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>	</li>
  </ul>
</div>
<router-outlet></router-outlet>
</section>
<footer *ngIf="displayFooter">
	<div class="footer-section">
		<div class="container">
			<div class="footer-left">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div>
			<div class="footer-right">
				Powered By : <a href="http:7einfotech.com" target="__blank">7einfotech.com</a>
			</div>
		</div>
	</div>
</footer>