<div class="container">
  <ul id="gn-menu" class="gn-menu-main {{sectionClass}}">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li *ngIf="loggedIn">
              <a href="#profile">
                <span class="fa">
                  <img width="32" height="32" class="img-circle" src="assets/img/avatar-icon.png">
                </span>
                {{loggedUserInfo.customer_name | titlecase}}
              </a>
            </li>
            <li>
              <a routerLink="restaurant" routerLinkActive="active"><i class="fa fa-cutlery"></i> Restaurants</a>
            </li>
            <li>
                <a href="#about"><i class="fa fa-bookmark"></i> About Us</a>
              </li>
              <li>
                <a href="#blogs"><i class="fa fa-comments"></i> Blog</a>
              </li>
              <li>
                <a href="#contact"><i class="fa fa-envelope"></i> Feedback</a>
              </li>
              <li>
                <a href="#contact"><i class="fa fa-phone"></i> Contact Us</a>
              </li>
              <li><a href="#service"><i class="fa fa-cog"></i> Terms & Conditions</a></li>
              <li><a href="#works"><i class="fa fa-briefcase"></i> Privacy & Policy</a></li>

          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><a routerLink="/" ><img src="assets/img/logo2.png" /></a></li>
    <li>
        <ul class="wow bounceInDown animated">
          <ng-container *ngIf="!loggedIn">
            <li ><a (click)='openModal("login")' id="signIn" target="_blank"><i class="fa fa-sign-in"></i>Login</a></li>
          </ng-container>
          <ng-container *ngIf="loggedIn">
            <li><a (click)="logout()" title="{{loggedUserInfo.customer_name}}"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ng-container>
        </ul>
      </li>
  </ul>
</div>
<section id="{{sectionId}}" class="intro">
    <ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "default" color = "#eb5d1e" type = "ball-clip-rotate-multiple"></ngx-spinner>
  <router-outlet></router-outlet>
</section>
<footer id="footer" *ngIf="displayFooter">
    <div class="footer-section">
        <div class="container">
          <div class="footer-left">
            <ul class="company-social wow bounceInDown animated">
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>

        </ul>
          </div>
          <div class="footer-right">
            Powered By : <a href="http:7einfotech.com" target="__blank">7einfotech.com</a>
          </div>
        </div>
      </div>
</footer>
