<div class="container content-section">
  <div class="row">
    <div class="col-md-3 wow bounceInLeft profile-left  animated">
      <div class="profile-img">
        <img src="assets/img/avatar-profile.png" class="img-rounded" />
        <strong>
          <a href="">{{loggedUserInfo.customer_name | uppercase }}</a>
        </strong>
      </div>
      <div class="profile-menu">
        <ul>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="edit">
              <i class="fa fa-pencil-square-o"></i> Edit Profile
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="orders">
              <i class="fa fa-shopping-cart"></i> Your Orders
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="address">
              <i class="fa fa-map-marker"></i> Address
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="reviews-ratings">
              <i class="fa fa-comments"></i> Review & Rating
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="photos">
              <i class="fa fa-picture-o"></i> Photos
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="videos">
              <i class="fa fa-video-camera"></i> Videos
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a href="javascrip:void(0)" routerLink="wallet">
              <i class="fa fa-folder-open"></i> Wallet
              <i class="fa fa-arrow-circle-right pull-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 padding-left-none wow bounceInRight animated">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3 wow bounceInLeft  animated">
      <strong class="restaurant-review">
        <i class="fa fa-eye"></i> RECENT VIEWS RESTAURANTS</strong>
      <div class="review-viewed">
        <div class="restaurant-logo">
          <img src="assets/img/restaurant_logo.jpg">
          <strong>
            <i class="fa fa-cutlery"></i> Chili pepper</strong>
        </div>
        <div class="clear"></div>
        <div class="restaurant-short-details">
          <small>
            <i class="fa fa-map-marker"></i>
            Chilli Pepper Multi Cuisine Restaurant Rohini, Delhi NCR, India address G 89-90, Near M2K Cinemas, Aggarwal City Plaza, Sector
            3, Rohini, New Delhi 110085
          </small>
        </div>
      </div>
      <div class="review-viewed">
        <div class="restaurant-logo">
          <img src="assets/img/restaurant_logo.jpg">
          <strong>
            <i class="fa fa-cutlery"></i> Chili pepper</strong>
        </div>
        <div class="clear"></div>
        <div class="restaurant-short-details">
          <small>
            <i class="fa fa-map-marker"></i>
            Chilli Pepper Multi Cuisine Restaurant Rohini, Delhi NCR, India address G 89-90, Near M2K Cinemas, Aggarwal City Plaza, Sector
            3, Rohini, New Delhi 110085
          </small>
        </div>
      </div>
      <div class="review-viewed">
        <div class="restaurant-logo">
          <img src="assets/img/restaurant_logo.jpg">
          <strong>
            <i class="fa fa-cutlery"></i> Chili pepper</strong>
        </div>
        <div class="clear"></div>
        <div class="restaurant-short-details">
          <small>
            <i class="fa fa-map-marker"></i>
            Chilli Pepper Multi Cuisine Restaurant Rohini, Delhi NCR, India address G 89-90, Near M2K Cinemas, Aggarwal City Plaza, Sector
            3, Rohini, New Delhi 110085
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
