<div class="edit-profile">
  <h5><i class="fa fa-pencil-square"></i> Edit Profile</h5>
  <div class="list-menu">
    <form id="EditProfileForm">
      <div class="input-group col-md-12">
            <span id="basic-addon1"><i class="fa fa-envelope"></i> Email: </span>
            <input type="email" placeholder="email" value="{{loggedUserInfo.email}}" class="form-control">
          </div>
        <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-user"></i> Name : </span>
          <input type="text" placeholder="name" value="{{loggedUserInfo.customer_name}}" class="form-control">
        </div>

         <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-phone-square"></i> Contact No. : </span>
          <input type="text" placeholder="Contact No." value="{{loggedUserInfo.contact_no}}"  class="form-control">
        </div>
        <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-smile-o"></i> Gender : </span>
          <select class="form-control"><option value="Male">Male</option><option value="Female">Female</option></select>
        </div>
        <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-calendar"></i> Age : </span>
          <input type="number" placeholder="Age" class="form-control">
        </div>
        <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-calendar"></i> DOB : </span>
          <input type="text" placeholder="DOB" class="form-control">
        </div>
        <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-pencil"></i> About Yourself : </span>
          <textarea class="form-control" placeholder="About Yourself"></textarea>
        </div>
         <div class="input-group col-md-12">
          <span id="basic-addon1"><i class="fa fa-map-marker"></i> Contact Address : </span>
          <input type="text" placeholder="Address Line 1" class="form-control">
          </div>
          <div class="input-group col-md-12">
            <input type="text" placeholder="Address Line 2" class="form-control">
          </div>
          <div class="input-group col-md-12">
              <input type="text" placeholder="Address Line 3" class="form-control">
        </div>
        <hr>
        <input type="submit" class="btn btn-primary">
      </form>
  </div>
</div>
