<div class="slogan">
    <h1>You Drool, We Deliver</h1>
    <p>Order food online from nearest restaurant.</p>
    <form action="restaurant"class="form-inline">
      <div class="form-group home-search">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="gn-icon gn-icon-search"></span></div>
          <div class="input-group-addon">Gwalior</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search Location">	
        </div>
      </div>
      <button type="submit" class="btn btn-skin">GO</button>
    </form>
  </div>