<div class="restaurant-menus">
  <strong>
    <i class="fa fa-cutlery"></i> RESTAURANT KEY DISHES</strong>
  <img width="100%" src="assets/img/dishes-mg.png">
  <div class="list-menu">
    <strong>
      <i class="fa fa-list"></i> TOP 5 STARTER MENU</strong>
    <ul>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
    </ul>
    <strong>
      <i class="fa fa-list"></i> TOP 5 STARTER MENU</strong>
    <ul>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
    </ul>
    <strong>
      <i class="fa fa-list"></i> TOP 5 STARTER MENU</strong>
    <ul>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
      <li>
        <div class="left">Menu Name</div>
        <div class="middle">Full</div>
        <div class="right">
          <i class="fa fa-rupee"></i> 130.00
          <a href="">
            <img src="assets/img/add.png">
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
