<div class="modal-dialog">
  <div class="modal-content" id="Register">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4>
        <i class="fa fa-pencil-square-o"></i> Member Register
        <br>
        <small>Ready to get best offers? Let's get started!</small>
      </h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <section class="registration-panel">
          <form novalidate (ngSubmit)="register()" #registerForm="ngForm" id="registerForm" accept-charset="utf-8">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user"></i>
              </span>
              <input [(ngModel)]="user.fullName" minlength="3" #fullName="ngModel" name="fullName" placeholder="Full Name" class="form-control input-addon" type="text"
                id="fullName" pattern="[a-zA-Z]+" required />
              <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert-bad">
                <div *ngIf="fullName.errors.required">
                    <i class="fa fa-warning"></i> Full name is required.
                </div>
                <div *ngIf="fullName.errors.minlength">
                    <i class="fa fa-warning"></i> Full name must be at least 3 characters long.
                </div>
                <div *ngIf="fullName.errors.pattern">
                  <i class="fa fa-warning"></i> Only alphabets allowed.
                </div>
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-phone"></i>
              </span>
              <input [(ngModel)]="user.contactNo" #contactNo="ngModel" name="contactNo" placeholder="Mobile Number (i.e xxxxxxxxxx)" class="form-control input-addon" type="text"
                id="contactNo" minlength="10" maxlength="10" pattern="[0-9]*" required />
              <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)" class="alert-bad">
                <div *ngIf="contactNo.errors.required">
                  <i class="fa fa-warning"></i> Mobile number is required.
                </div>
                <div *ngIf="contactNo.errors.minlength">
                    <i class="fa fa-warning"></i> Mobile number must be at least 10 digits long.
                </div>
                <div *ngIf="contactNo.errors.maxlength">
                    <i class="fa fa-warning"></i> Mobile number must be at least 10 digits long.
                </div>
                <div *ngIf="contactNo.errors.pattern">
                  <i class="fa fa-warning"></i> Only digits allowed.
                </div>
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope"></i>
              </span>
              <input name="user.email" placeholder="Email Address (i.e example@gmail.com)" [(ngModel)]="user.email" #email="ngModel" class="form-control" type="email" id="email"
                required email />
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-bad">
                <div *ngIf="email.errors.required">
                  <i class="fa fa-warning"></i> Email address is required.
                </div>
                <div *ngIf="email.errors.email">
                    <i class="fa fa-warning"></i> Invalid email address.
                </div>
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-key"></i>
              </span>
              <input name="user.password" placeholder="Password" #password="ngModel" [(ngModel)]="user.password" class="form-control" type="password" id="password" minlength="6" required />
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-bad">
                <div *ngIf="password.errors.required">
                    <i class="fa fa-warning"></i> Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    <i class="fa fa-warning"></i> Password must be at least 6 characters long.
                </div>
              </div>
            </div>
            <div class="submit">
              <input class="btn btn-primary btn-block" [disabled]="!registerForm.form.valid" type="submit" value="Register" />
            </div>
          </form>
        </section>
      </div>
      <div class="col-md-12 is-a-member">
        <span> Already register with us?</span>
        <strong>
          <a id="signIn" (click)='openModal("login")'>Login</a>
        </strong>
      </div>
    </div>
    <div class="modal-footer clear">
      <button type="button" class="btn btn-primary" (click)="registerForm.reset()">Reset</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
